

#box {
  width: 500px;

  overflow: hidden;

  background: pink;

  box-shadow: 0 0 10px black;

  border-radius: 10px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;

  padding: 10px;

  text-align: center;

  display: none;
}


#box h1 {
  color: brown;
  font-size: large;
}

.close {
  font-size: 10px;

  color: white;

  padding: 10px 20px;

  cursor: pointer;

  background: rgb(111, 111, 223);

  display: inline-block;

  border-radius: 1px solid #000;
}
